form {
  line-height: 28px;
}

.page {
  display: none;
  /*width: 1024px;*/
  margin: 25px 50px 75px 100px;
}

.next {
  color: white;
  background-color: DodgerBlue;
  border-radius: 8px;
  padding: 10px;
  width: 50px;
  text-align: center;
  font-weight: bold;
  font-size: 150%;
  position: absolute;
  right: 10%;
}

.plot_container {
  width: 576px;
  height: 320px;
  position: relative;
}

.plot_space {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 88.89%;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
}

.plot_canvas {
  position: absolute;
  top: 0px;
  right: 0px;
  border-top: 1px solid black;
  border-right: 1px solid black;
}

.plot_top_row {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 80%;
}

.plot_y_label {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 5.56%;
}

.plot_y_label_text {
  white-space: nowrap;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  font-size: 150%;
}

.plot_y_gradient {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: absolute;
  top: 0px;
  left: 5.56%;
  height: 100%;
  width: 5.56%;
  border: 1px solid black;
  background-image: linear-gradient(rgba(0,0,255,1), rgba(0,0,255,0));
}

.plot_bottom_row {
  position: absolute;
  bottom: 0px;
  right: 0px;
  height: 20%;
  width: 88.89%;
}

.plot_x_label {
  position: absolute;
  bottom: 0px;
  right: 0px;
  height: 50%;
  width: 100%;
}

.plot_team_label_left{
  position: absolute;
  left: 5px;
  top: 5px;
}

.plot_team_label_right{
  position: absolute;
  right: 5px;
  top: 5px;
}


.plot_x_label_text {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 150%;
    white-space: nowrap;
}

.plot_x_gradient_container {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: absolute;
  top: 0px;
  right: 0px;
  height: 50%;
  width: 100%;
  border: 1px solid black;
}

.plot_x_gradient_left {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 50%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(255,0,0,1), rgba(255,0,0,0));
}

.plot_x_gradient_right {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 50%;
    height: 100%;
    background-image: linear-gradient(to left, rgba(255,0,0,1), rgba(255,0,0,0));
}
.spss_container {
  width: 300px;
  display: block;
  unicode-bidi: embed;
  font-family: monospace;
  white-space: pre;
}

.spss_row {
  position: relative;
  width: 100%;
}

.spss_square {
  float: right;
  height: 25px;
  width: 25px;
  border: 1px solid black;
}

.spss_number {
  float: right;
  height: 25px;
}

.interface_container {
  position: relative;
  top: 0px;
  left: 0px;
  width: 1024px;
  min-height: 350px!important;
}

.left_panel {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 60%;
}

.right_panel {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 38%;
}

.slidecontainer {
    width: 50%; /* Width of the outside container */
    margin-bottom: 5px;
}

/* The slider itself */
.n_slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background-image: linear-gradient(to right, rgba(0,0,255,0), rgba(0,0,255,1));
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.n_slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.n_slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 10px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: black; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.n_slider::-moz-range-thumb {
    width: 10px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: black; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.elf_message_container {
 height: 50px;
}

